.navbar-brand{
    font-weight: bold;
    font-size: 100px;
}
#animate{
    margin-top: 20px;
      background-color: #554588;
      color: rgb(255, 192, 133);
      text-align: center;
      margin-right:15%;
      margin-left: 15%;
      border-radius: 12px;
      border: 2px solid #3a315a;
      min-height: 45px;
      padding: 12px 12px 14px ;
      overflow: hidden;
      box-shadow: rgb(25, 7, 58) 0px 20px 30px -10px;
  }
  h2{
    padding-top: 5px;
    word-spacing: 2px;
    font-family: "Lucida Console", "Courier New", monospace;  
    text-shadow: 2px 2px 5px rgb(31, 13, 59);
    letter-spacing: .08em;
  }
